<% include header %>
    <div><h2>Insert Rows</h2></div>
    <div>
        <form action="http://localhost:3000/insert-rows" method="post">
            <div>
                <input type="submit" name="submit" value="Insert Rows UI" class="btn btn-primary">
            </div>
        </form>
    </div>
<% include footer %>