<% include header %>
    <header class="jumbotron">
        <h1><%=tableName%></h1>

    </header>
    <div>
        <h3><%=rows[0].description%></h3>
        
    </div>
    
    <div class="btnWapper">
        <a class="btn btn-primary btn-large button" href="/<%=tableName%>/see-description/edit-description">Edit Description</a>
    </div>
    
    
<% include footer %>