<% include header %>
    <div><h2>Available Applications</h2></div>
    <div>
        <form action="https://webapp-yuchenpeng.c9users.io/app" method="post">
            <div style="margin-bottom:30px; margin-top:30px">
                <div>
                    <input type="hidden" name="app" value="row-counter">
                </div>
            </div>
            
            <div>
                <input type="submit" name="submit" value="Records-Counter" class="btn btn-primary">
            </div>
        </form>
    </div>
<% include footer %>